.list-container {
    margin: auto;
    
    .list-options {
        text-align: right;
        padding-top: 10px;

        button {
            background: #dfdfdf;
            color: black;
        }
    }
}