.list-container {
    margin: auto;
    width: 800px;

    .title {
        p {
            text-align: left;
            font-size: 24px;
        }
    }
    
    .divider {
        height: 1px;
        border-bottom: 1px solid gray;
    }
    
    .user-list-container {
        margin-top: 15px;

        .list-options {
            text-align: right;
            padding-top: 10px;

            button {
                background: #dfdfdf;
                color: black;
            }
        }
    }
}