<div class="list-container">
    <div class="title">
        <p>User List</p>
    </div>
    <div class="divider"></div>
    <div class="user-list-container">
        <app-list-table
            [dataSource]="users"
            [displayedColumns]="columns"
            (deleteClicked)="delete($event)"
            (updateClicked)="update($event)">
        </app-list-table>
        <div class="list-options">
            <button mat-raised-button (click)="add()">Add user</button>
        </div>
    </div>
</div>